/*responseive*/
@media only screen and (max-width: 768px){
    #score-1,#score-2{
      display:none;
    }

    div.bg-image3{
        background-image: none;
    }

    #newsletter{
        display:none;
    }

    #navbar-big{
        display:none;
    }
    

    #carousel-1{
        display: inline-flex;
        padding: right 0rem;;
        margin:0;
    }

    div.col-md-6{
        padding: 0;
    }

    #img-ava{
        display: none;
    }

    h5{
        font-size: small;        
    }

    div.container-fluid-1{
        resize: both;
    }


}

@media only screen and (min-width: 768px){
    #navbar-small{
        display: none;
    }
}

/*global-styles-start*/
.card-title,.content-title{
    color: darkorange
   
}

.content-text{
    color: white;
}

.display-5{
    color: white;
    font-size:4vw;
}

.sub-display{
    color: white;
    font-size:3vw;
}

.sub-display-1{
    color: white;
    font-size:1.5vw;
}
/*global-styles-end*/

/*background-sections-start*/
.bg-image1{
    background: url(./assets/img/main-bg.jpg);
    background-size: cover;
    background-position: bottom center;
    height: 100%;
    margin: 0%;
}

.bg-image2{
    background: url(./assets/img/the-games-bg.jpg);
    background-size: cover;
    background-position: bottom center;
    height: 100%;
    margin: 0%;
}

.bg-image3{
    background: url(./assets/img/features.png);
    background-size: cover;
    background-position: top center;
    height: 100%;
    margin: 0%;
}

.bg-image4{
    background: url(./assets/img/requirements.png);
    background-size: cover;
    background-position: center;
    height: 100%;
    margin: 0%;
}

.bg-image5{
    background: url(./assets/img/top-score-bg.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    margin: 0%;
}

.bg-image6{
    background: url(./assets/img/newsletter.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    margin: 0%;
}

.backhitam{
    background-color: black;
}
/*background-sections-end*/

/*container-start*/
.container-fluid{
    padding-left: 0rem;
    padding-right: 0rem;
    margin: 0rem;
    overflow: hidden;
}

.container-fluid-1{
    padding-left: 0rem;
    padding-right: 0rem;
    margin: 0rem;
    overflow: hidden;
}
/*container-end

/*content-font-etc-start*/
.section-title,.jumbotron-title{
    color: white;
    font-weight: bold;
    font-size: 25pt;

}

.section-sub,.jumbotron-sub{
    color: white;
    font-size: 15pt;
}
/*content-font-etc-end*/

/*component-style-start*/
.nav-link{
    color: white;
    font-weight: bold;
}

.nav-link:hover{
    color: white;
    background-color:darkorange;
    opacity: 70%;
  }

.table{
    border-right: 1px white;
    border-left: 1px white;
    border-top: 1px white;
    border-bottom: 1px white;
}
/*component-style-end*/

/*timeline-start*/
ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before, ul.timeline-1:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 80%;
    z-index: 400;
}
ul.timeline > li {
    margin-left: 0px;
    margin-bottom: 2em;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
ul.timeline-1{
    list-style-type:none;
    position: relative;
}

ul.timeline-1 > li {
    margin-left: 0px;
    margin-bottom: 2em;
    padding-left: 20px;
}

ul.timeline-1 > li:before {
    content:' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
/*timeline-end*/

.card-body{
    /*background-color: rgb(53, 52, 52);*/
    background-color: rgba(90, 90, 90, 0.938)
    
}

.card-text{
    color: white;

}


.card {
    background-color: rgb(53, 52, 52);
    border-width: 0;
    border-radius: .25rem;
    padding: 0;    
}

.upper-suit{
    border-radius: 0%;
    max-width: 50%;
    height: auto;
    padding: 0%;
}

.container-fluid{
    height: fit-content;
}
