<html>
    <head>
        <title>User Edit</title>
        <link rel="shortcut icon" type="image/png" href="./assets/img/favicon.ico"/>
        <link rel="stylesheet" href="./assets/css/bootstrap.min.css" type="text/css" />
        <script src="/assets/js/jquery.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="assets/css/styles.css" />
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        </head>
<body>

    <div class="container-game">
        <div class="login">
            <div class="form-outline mb-4">
                Username : <%= user.username %>
            </div>

            <div class="form-outline mb-4">
                Password : <%= user.password %>                
            </div>

            <div class="form-outline mb-4">
                Role : <%= user.role %>                
            </div>

            <br>     
            
            <form method="POST" action="/update/<%= user.id %>" >
                <div class="form-outline mb-4">
                    <input name="username" type="text" id="form3Example4" class="form-control form-control-sm"
                  placeholder="masukkan username baru" />
                </div>
    
                <div class="form-outline mb-4">
                    <input name="password" type="text" id="form3Example4" class="form-control form-control-sm"
                    placeholder="masukkan password baru" />              
                </div>
    
                <div class="form-outline mb-4">
                    <input name="role" type="text" id="form3Example4" class="form-control form-control-sm"
                    placeholder="masukkan role" />              
                </div>
                
                
                <div class="modal-footer">
                    <button type="submit" class="btn btn-warning">Edit</button>
                </div>
            </form>


        </div>
    </div>


          

</div>   
       
</body>
</html>