<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play Traditional Games</title>
    <link rel="shortcut icon" type="image/png" href="./assets/img/favicon.ico"/>
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css" type="text/css" />
    <script src="assets/js/bootstrap.js"></script>
    <script src="/assets/js/jquery.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="assets/css/styles.css" />


</head>
<body>
    <!--homepage-start-->
    <div class="container-fluid" id="home">
        <!--Background-->
        <div class="bg-image1">                
            
            <!--Navbar-->
            <div class="row" id="navbar-big">
                <nav class="navbar navbar-expand-lg bg-dark" style="opacity: 0.7;">                           
                    <a class="navbar-brand offset-md-1" href="#" style="color: white; font-weight: bold;">LOGO</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav offset-md-1">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#games">Work</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contacts">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contacts">About Me</a>
                        </li>
                        </ul>
                        <ul class="navbar-nav offset-md-5">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/login">Sign Up</a>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/login">Login</a>
                        </li>            
                        </ul>
                    </div>
                </nav>     
            </div>
            
            <!--Jumbotron-->
            <div class="container-game">
                <div class="login">
                    <form method="POST" action="/login" >
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <input name="email" type="email" id="form3Example3" class="form-control form-control-sm"
                            placeholder="Enter a valid email address" />
                            <!--<label class="form-label" for="form3Example3">Email address</label>-->
                        </div>
                
                        <!-- Password input -->
                        <div class="form-outline mb-3">
                            <input name="password" type="password" id="form3Example4" class="form-control form-control-sm"
                            placeholder="Enter password" />
                            <!--<label class="form-label" for="form3Example4">Password</label>-->
                        </div>
                
                        <div class="d-flex justify-content-between align-items-center">
                            <!-- Checkbox -->
                            <div class="form-check mb-0">
                            <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                            <label class="form-check-label" for="form2Example3">Remember me</label>
                            <a data-bs-toggle="modal" data-bs-target="#exampleModal1" class="text-body">Forgot password?</a>
                            </div>
                            
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary">Register</button>
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
            
                    </form>
                   
                </div>
            </div>  
        </div>
    </div>
    <!--homepage-end-->
  
</body>
</html>