<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="./assets/img/favicon.ico"/>
    <title>Unprotected</title>
</head>
<body>
    <h1>Login Berhasil</h1>
    <a class="nav-link active" aria-current="page" href="/">Home</a>
</body>
</html>