<html lang="en">
<head>
    <%- include("partials/head"); %>
</head>
<body>
    <!--homepage-start-->
    <div class="container-fluid" id="home">
        <!--Background-->
        <div class="bg-image1">                
            
            <!--Navbar-->
            <div class="row" id="navbar-big">
                <%- include("partials/navbar"); %>
            </div>
            
            <!--Jumbotron-->
            <div class="container-game">
                <div class="login">
                    <form method="POST" action="/login" >
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <p>USER LOGIN</p>

                            <input name="username" type="text" id="form3Example3" class="form-control form-control-sm"
                            placeholder="masukkan username" />
                         
                            <input name="password" type="password" id="form3Example4" class="form-control form-control-sm"
                            placeholder="masukkan password" />
                           
                        </div>
                           
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
            
                    </form>
                   
                </div>
            </div>  
        </div>
    </div>
    <!--homepage-end-->
  
</body>
</html>