<html>
  <head>
    <%- include("partials/head"); %>
</head>
<body>
  <div class="container-game">
    
    <div class="login">
      <form method="POST" action="/register" >
        <!-- Email input -->
        <div class="form-outline mb-4">
          <h4>Membuat User</h4>

          <input name="username" type="text" id="form3Example3" class="form-control form-control-sm"
          placeholder="masukkan username" />

          <input name="password" type="text" id="form3Example4" class="form-control form-control-sm"
          placeholder="masukkan password" />
        
          <input name="role" type="text" id="form3Example4" class="form-control form-control-sm"
          placeholder="masukkan role" />
            
        </div>
            
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>

      </form>
        
    </div>
  </div>
  
     

</body>
</html>